baby-tau/.venv/lib64
baby-tau/.venv/pyvenv.cfg
baby-tau/.venv/bin/python
baby-tau/.venv/bin/python3
baby-tau/.venv/bin/python3.10
baby-tau/__pycache__/audio_recorder.cpython-310.pyc
baby-tau/__pycache__/ollama_service.cpython-310.pyc
baby-tau/*.onnx
baby-tau/*.onnx.json
baby-tau/*.wav
***/__pycache__/*
***/.venv/***
***/*.onnx
***/*.deb
***/*.onnx.json
***/*.whl
***/.aider*
***/.env
***/codex-config/***
local-codex/ollama/*
local-codex/workspace/*
gemma/gemma-vllm/models/*
reachy-mini/log/*
reachy-mini/data/*
reachy-mini/logs/*
reachy-mini/recordings/*
reachy-mini/videos/*
qq/memory/notes.md
qq/data/
qq/logs/*
qq/src/qq/logs/** 
qq/backups/**