OPENAI_BASE_URL=http://host.docker.internal:8000
OPENAI_API_KEY=EMPTY
OPENAI_MODEL=default
DEFAULT_VOICE=Mia.Calm
TTS_SPEED=125
DEFAULT_TURN_DETECTION=server_vad
DEFAULT_AEC_MODE=none
VAD_THRESHOLD=0.5
VAD_SILENCE_MS=600
VAD_PREFIX_PADDING_MS=300
